* {
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

body {
    margin: 0;
    height: 100vh;
}

canvas {
    display: block;
}

.scoreSpan {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
    font-family: 'Montserrat';
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid white;
    padding: .5em;
}

#lifesContainer {
    position: absolute;
    top: 9em;
    left: 2em;
    display: flex;
    flex-direction: row;
}

img {
    width: 30px;
    padding-right: .5em;
    height: 30px;
}

#GameOverScreen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: black;
}

#GameOver {
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    font-family: 'Montserrat';
    font-size: 7em;
    text-align: center;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid white;
    padding: .5em;
    transition: 0.04s all ease-in-out;
}

#GameOverDiv {
    overflow: hidden;
    width: 0vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50vw;
    transform: translate3d(-50%, 0, 0);
    transition: 2s all ease-in-out;
}

@media (max-width: 640px) {

    /* CSS mobile ici */
    #GameOver {
        font-size: 4em;
    }
}

h1 {
    color: white;
    font-family: 'Montserrat';
}

.GameOverScore {
    left: 50vw;
    transform: translate3d(-50%, 0, 0);
    position: absolute;
    bottom: 10vh;
}

button {
    top: 60vh;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    font-size: 2em;
    position: absolute;
    padding: 0.5em 2em;
    left: 50vw;
    transform: translate3d(-50%, 0, 0);
    transition: 0.5s ease-in-out;
    border-radius: 4px;
    -webkit-user-select: initial;
    /* Safari */
    -moz-user-select: initial;
    /* Firefox */
    -ms-user-select: initial;
    /* IE10+/Edge */
    user-select: initial;
    /* Standard */
}

button:hover {
    color: black;
    background-color: white !important;
}